body {
  --dark-color: #304768;
  --light-background-color: #F5F5F5;
  --side-background-color: #e4edfb;
  --background-color: #D8E7FF;
  --hover-text-color: #0f1c36;
  --highlight-text-color: #235192;
  --border-color: #7987a53f;
} 